<div class="main-container vertical-center home-background">
  <div class="center-block">
    <div class="center-content">
      @if (numberOfQuestions()) {
        <p>{{ getQuestionsLabel() }}</p>
      }
      <h1>Mon test technique</h1>
      <p-button
        label="DÉMARRER"
        [disabled]="!numberOfQuestions()"
        (onClick)="startQuiz()"
      ></p-button>
    </div>

    @if (!numberOfQuestions()) {
      <p-progressSpinner
        class="spinner-container"
        styleClass="spinner"
      ></p-progressSpinner>
    }
  </div>
</div>

<div class="angular-logo">
  <img src="assets/angular.png" alt="Angular Logo" />
</div>

<div class="footer">
  <div class="centered-footer"><app-score-insert></app-score-insert></div>
</div>
