@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'assets/fonts/fonts.css';

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;

  font: 'Inter';
  font-weight: 600;
  color: #16175f;
}

.main-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.spinner {
  width: 48px;
  height: 48px;
}

.p-button {
  background: #3c50e0;
}
.p-button:not(:disabled):hover {
  background: #2320b7;
}
.p-disabled {
  background: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  color: #a6a7a6;
}

.p-radiobutton .p-radiobutton-box {
  background: transparent;
  border: 2px solid #6d6d72;
  width: 20px;
  height: 20px;
}

.p-checkbox .p-checkbox-box {
  background: transparent;
  border: 2px solid #6d6d72;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #3c50e0;
  background: #3c50e0;
}

.p-inline-message {
  width: 64px;
  height: 32px;
  border-radius: 8px;
}
.p-inline-message > .p-icon-wrapper {
  display: none;
}
.p-inline-message .p-inline-message-text {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
}

.github-handle {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;

  a img {
    display: block;
    width: 40px;
    height: 40px;
  }
}
