.header {
  width: 100%;
  height: 79px;
  padding: 16px 24px;
  background: linear-gradient(90deg, #0e0b77 0%, #2320b7 51.32%, #0e0b77 100%),
    #f2f4f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;

  p {
    margin: 0;
  }
}

.text-container {
  padding: 8px;
  border-radius: 8px;
  gap: 8px;
  background: #ffffff;
}

.timer {
  min-width: 81px;
  min-height: 47px;
  text-align: center;
}
